[user]
	name = Ian S Pringle
	{{ if regexMatch "*.-work" .chezmoi.hostname }}
	email = {{ .email.work | quote }}
	{{ else }}
	email = {{ .email.personal | quote }}
	{{ end }}

[github]
	user = pard68
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[rebase]
	autoStash = true
[push]
	default = simple
[gitlab]
	user = pard
[init]
	defaultBranch = master
